.container {
  position: absolute;
  top: 30%;
  left: 10px;
  text-align: center;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.search-label:first-child {
  margin-top: 15px;
}

.search-tab {
  -webkit-appearance: none;
  border: 1px solid #8c8888;
  width: 100%;
  padding: 10px 10px;
  outline: none !important;
  display: block;
  margin-bottom: 20px;
}

.urlview i {
  margin-left: 10px;
  vertical-align: text-bottom;
}

span.search-bar i {
  color: #fff;
  font-size: 10px;
  vertical-align: middle;
  cursor: pointer;
}

span.search-bar {
  position: absolute;
  padding-top: 18px;
  padding-left: 10px;
}

.urlview img {
  margin-right: 10px;
  width: 12px;
}

.new-tab {
  background: none !important;
  border: none;
  color: #000 !important;
  padding: 10px 10px;
  -webkit-appearance: none;
  outline: none !important;
  cursor: pointer;
}

.errormsg {
  width: 100%;
  float: left;
  text-align: center;
  color: #f60f60;
}

button {
  outline: none !important;
}

.cross-btn {
  -webkit-appearance: none;
  border: none;
  background: none;
  color: #fff;
  cursor: pointer;
  padding: 0;
}

.active .cross-btn {
  color: #000;
}

.urlview {
  -webkit-appearance: none;
  padding: 14px 10px;
  background-color: #000;
  color: #fff;
  outline: none !important;
  border-color: #8c8888;
  border-bottom: none;
  border-left: none;
  cursor: pointer;
  font-size: 14px;
}

.active {
  background-color: #fff;
  color: #000;
  border-top: 1px solid #ed5d45;
}
